auto-save-list
session*
tramp*
eshell/history*
eshell/lastdir*
/desktops/.emacs.desktop
/desktops/.emacs.desktop.lock
.smex-items
places
elpa/*
url/*
ac-comphist.dat
*desktop*
bookmarks
org-clock-save.el
eww-bookmarks
ido.last
*backup*
.org-id-locations
elpa/archives*
ido.last~
literate_init.el
elpa/archives/*
abbrev*
network*
*.eld
recentf*
elpa/archives/gnu/*
places
backups*
/cider-history
magithub/cache
/.Rhistory
/custom.el
/eln-cache/
/elpy/
/history
/oer-reveal-org/
/request/
/transient/
/.cache/
/.dap-breakpoints
/.lsp-session-v1
